body {
    background-color: #5c6564;
    display: flex;
}

.main {
    grid-gap: 15px;
    margin-top: 40px;
}

.Editor {
    display: flex;
}

#editor {
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    background-color: #f4f4f4;
    overflow: hidden;
}

#preview {
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    background-color: #f4f4f4;
    margin-left: 10px;
    font-family: "Comfortaa", sans-serif
}

img {
    width: 50%;
}

pre,
code {
    background-color: #ffffff;
}

pre {
    padding: 10px;
}

@media(min-width: 992px) {
    .main {
        grid-template-columns: 1fr 1fr;
    }
}